.container-history{
    height: auto;
    width: auto;
    /* border: 4px greenyellow solid; */
    text-decoration: solid black;
}
.top{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.spacing{
    height: 10px;
}
.part{
    width: 100vw;
}