/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Container Styles */
  .container-identity {
    width: 70%;
    margin: 50px auto;
    background: #464b4b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  
  /* Top Section Styles */
  .row1-identity {
    margin-bottom: 20px;
  }
  
  .top-identity {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Middle Section Styles */
  .row2-identity {
    margin-bottom: 20px;
  }
  
  .middle-left-identity,
  .middle-right-identity {
    padding: 20px;
    border-radius: 5px;
  }
  
  .middle-left-identiy{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .middle-right-identity {
    background: #BB86FC;
  }
  
  .fon-identity {
    font-weight: bold;
  }
  
  /* Bottom Section Styles */
  .row3-identity {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-primary-idenity,
  .btn-danger-identity {
    width: 50%;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary-identity {
    width: 20vw;
    background-color: #03DAC5;
  }
  
  .btn-danger-identity {
    width: 20vw;
    background-color: #e74c3c;
  }
  
  /* Hover Effects */
  .btn-primary-identity:hover{
    filter: brightness(110%);

  }
  .btn-danger-identity:hover {
    background-color: #e74c3c;
    filter: brightness(110%);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container-identity {
      width: 90%;
    }
  
    .middle-identity {
      flex-direction: column;
    }
  
    .middle-left-identity,
    .middle-right-identity {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .row3-identity {
      flex-direction: column;
    }
  
    .btn-primary-identity,
    .btn-danger-identity {
      width: 100%;
    }
}
  